name: VM

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  CARGO_TERM_COLOR: 'always'
  NGINX_SOURCE_DIR: nginx
  TEST_NGINX_GLOBALS: 'user root nobody;'

jobs:
  freebsd:
    name: FreeBSD
    runs-on: ubuntu-latest
    env:
      BUILDREQUIRES: >-
        git
        go
        llvm
        p5-Digest-SHA
        p5-IO-Socket-INET6
        p5-IO-Socket-SSL
        p5-JSON-PP
        p5-TimeDate
        pcre2
        pkgconf
        rust

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ matrix.nginx-ref }}
          repository: 'nginx/nginx'
          path: 'nginx'
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: 'nginx/nginx-tests'
          path: 'nginx/tests'

      - uses: vmactions/freebsd-vm@670398e4236735b8b65805c3da44b7a511fb8b27 # v1.3.0
        with:
          copyback: false
          envs: 'CARGO_TERM_COLOR NGINX_SOURCE_DIR TEST_NGINX_GLOBALS'
          prepare: |
            pkg install -y ${{ env.BUILDREQUIRES }}
          run: |
            TEST_NGINX_PEBBLE_BINARY=$(perl build/get-pebble.pl)
            export TEST_NGINX_PEBBLE_BINARY
            make

  netbsd:
    name: NetBSD
    runs-on: ubuntu-latest
    env:
      GO: go124
      BUILDREQUIRES: >-
        clang
        git
        go124
        p5-IO-Socket-INET6
        p5-IO-Socket-SSL
        p5-TimeDate
        pcre2
        pkgconf
        rust

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ matrix.nginx-ref }}
          repository: 'nginx/nginx'
          path: 'nginx'
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: 'nginx/nginx-tests'
          path: 'nginx/tests'

      - uses: vmactions/netbsd-vm@f8b6ca699b2980b83fdb6328e7f941b20bbac4a7 # v1.3.3
        with:
          copyback: false
          envs: 'CARGO_TERM_COLOR NGINX_SOURCE_DIR TEST_NGINX_GLOBALS GO'
          prepare: |
            /usr/sbin/pkg_add -u ${{ env.BUILDREQUIRES }}
          run: |
            TEST_NGINX_PEBBLE_BINARY=$(perl build/get-pebble.pl)
            export TEST_NGINX_PEBBLE_BINARY
            make
